In [1]:

trlab = float(input("Trabalho em Laboratorio: "))
avsem = float(input(" Avaliação Semestral: "))
exafinal = float(input("Digite a nota do Exame Final: "))
media = ((trlab*2) + (avsem*3) + (exafinal*5)) / (2+3+5)
if ((media <= 10.0) and (media >= 8.0)):
  print("Conceito A")
elif ((media < 9.0) and (media >= 8.0)):
  print("Conceito B")
elif ((media < 5.0) and (media >= 6.0)):
  print("Conceito C")
elif ((media < 7.0) and (media >= 6.0)):
  print("Conceito D")
elif ((media < 6.0) and (media >= 0.0)):
  print("Conceito E")

Trabalho em Laboratorio: 10
 Avaliação Semestral: 9
Digite a nota do Exame Final: 5

In [2]:
nota1 = float(input("Digite a primeira : "))
nota2 = float(input("Digite a segunda : "))
nota3 = float(input("Digite a terceira : "))
soma = (nota1+nota2+nota3)/3
if ((media <= 10.0) and (media >= 9.0)):
  print("Aprovado")
elif ((media < 7.0) and (media >= 5.0)):
  print("Exame Especial")
elif ((media < 3.0) and (media >= 1.5)):
  print("Reprovado")

Digite a primeira : 9
Digite a segunda : 5
Digite a terceira : 1.5

In [3]:
maiorvalor = -72000
for i in range(0,2):
    x = int(input("insira o valor: "))
    if(x>maiorvalor):
            maiorvalor = x
print("O maior numero é: " + str(maiorvalor))

insira o valor: 5
insira o valor: 3
O maior numero é: 5

In [4]:
num1 = int(input("insira um numero inteiro: "))
resto = num1%2
if (resto == 0):
  print(" par")
else :
  print(" impar")

insira um numero inteiro: 4
 par

In [5]:
import math
op = int(input("Menu de opções:\n\n1. Somar dois números.\n2. Raiz quadrada de um número.\n\nDigite a opção desejada:"))
if(op==1):
  num1 = int(input("insira o primeiro numero: "))
  num2 = int(input("insira o segundo numero:"))
  print("A soma dos 2 numeros é: " + str(num1+num2))
elif(op==2):
  num1 = int(input("Digite o numero: "))
  print("A raiz quadrada dos 2 numeros é: " + str(math.sqrt(num1)))

Menu de opções:

1. Somar dois números.
2. Raiz quadrada de um número.

Digite a opção desejada:6

In [6]:
op = int(input("Codigo : \n\n1.Escrituario\n2. Secretario\n3. Caixa\n4. Gerente\n5. Diretor\n\nDigite a opção desejada: "))
if (op == 1):
  salario = float(input("Digite o salario: "))
  print("Escrituario: \nSalario Atual: "+ str(salario) + "\nNovo Salario: " + str(salario+(salario*0.5)))
elif (op == 2):
  salario = float(input("Digite o salario: "))
  print("Secretario: \nSalario Atual: "+ str(salario) + "\nNovo Salario: " + str(salario+(salario*0.35)))
elif (op == 3):
  salario = float(input("Digite o salario: "))
  print("Caixa: \nSalario Atual: "+ str(salario) + "\nNovo Salario: " + str(salario+(salario*0.2)))
elif (op == 4):
  salario = float(input("Digite o salario: "))
  print("Gerente: \nSalario Atual: "+ str(salario) + "\nNovo Salario: " + str(salario+(salario*0.1)))
elif (op == 5):
  salario = float(input("Digite o salario: "))
  print("este funcionario nao possui aumento\nO salario é: " + str(salario))
else:
  print("Invalida")

Codigo :

1.Escrituario
2. Secretario
3. Caixa
4. Gerente
5. Diretor

Digite a opção desejada: 10
Opção Invalida

In [12]:
salario = float(input("Digite o salario:   "))
if(salario <= 900):
  print("Novo salario: " + str((salario + (salario*0.05))+160))
elif(salario > 500.00) and (salario <= 1200.00):
  if(salario <= 600):
    print("Novo salario: " + str((salario + (salario*0.13))+160))
  else:
    print("Novo salario: " + str((salario + (salario*0.12))+100))
elif (salario > 1539.00):
  print("Novo salario: " + str(salario + 205))

Digite o salario:   900
Novo salario: 1105.0

In [13]:
vm = float(input("Digite o valor da venda mensal do produto: "))
precoa = float(input("Digite o valoro: "))
if(vm < 900.00) and (precoa <25.00):
  print("O novo preço do produto é: " + str(precoa+(precoa*0.1)))
elif ((vm >= 900.00) and (vm < 1200.00)) and ((precoa >= 25.00) and (precoa < 70.00)):
  print("O novo preço do produto é: " + str(precoa+(precoa*0.15)))
elif(vm >= 1200.00) and (precoa >= 70.00):
  print("O novo preço do produto é: " + str(precoa-(precoa*0.2)))

Digite o valor da venda mensal do produto: 900
Digite o valor do produto: 25
O novo preço do produto é: 28.75

In [0]:
Equação do segundo grau

Digite o lado A do triangulo: 6
Digite o lado B do triangulo: 5
Digite o lado C do triangulo: 4
Triangulo Escaleno

In [15]:
a = float(input("Digite o lado A: "))
b = float(input("Digite o lado B: "))
c = float(input("Digite o lado C: "))
if ((a< b+c)and(b< a+c)and(c< b+a))and((a> b-c)and(b> a-c)and(c> b-a)):
  if((a == b) and (a == c) and (b == c)):
    print("Triangulo Equilatero")
  elif((a == b) and (a == c)) or ((a == b) and (b == c)):
    print("Triangulo Isosceles")
  elif ((a != b) and (a != c) and (b != c)):
    print("Triangulo")
else:
  print("As medidas informadas não formam um triangulo")

Digite o lado A: 12
Digite o lado B: 25
Digite o lado C: 3
As medidas informadas não formam um triangulo

In [17]:
altura = float(input("insira a altura: "))
peso = float(input("insira o peso: "))
if(altura < 1.2):
  if(peso<=60):
    print("Classificação: A")
  elif ((peso>60)and(peso<=90)):
    print("Classificação: D")
  elif (peso>60):
    print("Classificação: G")
elif((altura>1.20)and(altura<=1.70)):
  if(peso<=60):
    print("Classificação: B")
  elif ((peso>60)and(peso<=90)):
    print("Classificação: E")
  elif (peso>90):
    print("Classificação: H")
elif(altura>1.70):
  if(peso>=60):
    print("Classificação: C")
  elif ((peso>60)and(peso<=90)):
    print("Classificação: F")
  elif (peso>90):
    print("Classificação: I")

insira a altura: 1.60
insira o peso: 60
Classificação: B

In [19]:
codprod = int(input("Digite o codigo (0 à 10): "))
peso = int(input("insira o peso em Kg: "))
codpais = int(input("Digite o codigo do pais de origem (1 à 8): "))

Digite o codigo (0 à 10): 5
insira o peso em Kg: 80
Digite o codigo do pais de origem (1 à 8): 4

In [0]:
import math
print("Número | Quadrado | Cubo")
n = 10
for (i) in range(n):
    print(str(i+1) + "           " + str((i+1)**2) + "       " + str((i+1)**3))
print("\n")

Número | Quadrado | Cubo
1           1       1
2           4       8
3           9       27
4           16       64
5           25       125
6           36       216
7           49       343
8           64       512
9           81       729
10           100       1000

In [21]:

sair = "z"
contM = 0
contF = 0
contvi = 0
total = 0
while (sair != "S") and (sair != "s"):
  sexo = input("Digite o Sexo da criança  (M / F): ")
  vida = int(input("Digite o tempo de vida da criança: "))
  sair = input("Deseja sair? (S/N): ")
  if (sexo == "M") or (sexo == "m"):
    contM = contM + 1
  elif (sexo == "M") or (sexo == "m"):
    contF = contF + 1
  if vida <= 24:
    contvi19 = contv19i + 1
  total = total + 1
print("Porcentagem de crianças do sexo Masculino: " + str((contM/total)*100) + "%")
print("Porcentagem de crianças do sexo Feminino: " + str((contF/total)*100) + "%")
print("Porcentagem de crianças que viveram 24 meses ou menos: " + str((contvi/total)*100) + "%")

Digite o Sexo da criança  (M / F): M
Digite o tempo de vida da criança: 2
Deseja sair? (S/N): n

NameError: ignored

In [0]:
cont = range(6)
aprov = 0
exame = 0
reprov = 0
mediacla = 0
for i in cont:
  nota1 = float(input("Digite a primeira " + str(i+1) + " :"))
  nota2 = float(input("Digite a segunda " + str(i+1) + " :"))
  if (nota1+nota2/2) <= 27:
    reprov = reprov+1
    print("Aluno Reprovado")
  elif (nota1+nota2/2) >= 30 and (nota1+nota2/2) <= 69:
    exame = exame+1
    print("Aluno em exame")
  elif (nota1+nota2/2) >= 70:
    aprov = aprov+1
    print("Aluno Aprovado")
  mediacla = nota1 + nota2 + mediacla
print("Total de Alunos Aprovados: " + str(aprov))
print("Total de Alunos em Exame: " + str(exame))
print("Media de Alunos Reprovados: " + str(reprov))
print("Media da turma: " + str(mediacla/6))

Digite a primeira 1 :9
Digite a segunda 1 :5
Aluno Reprovado
Digite a primeira 2 :9
Digite a segunda 2 :10
Aluno Reprovado
Digite a primeira 3 :6
Digite a segunda 3 :9
Aluno Reprovado

In [0]:
dado = "invalido"
while dado == "invalido": 
  a = float(input("insira o primeiro lado do triangulo"))
  if a>0:
    b = float(input("insira o segundo lado do triangulo"))
    if b>0:
      c = float(input("insira o terceiro lado do triangulo"))
      if c>0:
        if ((a< b+c)and(b< a+c)and(c< b+a))and((a> b-c)and(b> a-c)and(c> b-a)):
          if((a == b) and (a == c) and (b == c)):
            print("Triangulo Equilatero")
          elif((a == b) and (a == c)) or ((a == b) and (b == c)):
            print("Triangulo Isosceles")
          elif ((a != b) and (a != c) and (b != c)):
            print("Triangulo Escaleno")
      print("Dados validos porem não formam um triangulo")
      dado = "valido"
  if dado!="valido":
    print("Valor Digitado Invalido\nDigite novamente")

Digite o primeiro lado do triangulo1
Digite o segundo lado do triangulo2
Digite o terceiro lado do triangulo3
Dados validos porem não formam um triangulo